body {
    font-family: 'Poppins', sans-serif;
      background: linear-gradient(135deg, #f06, #4a90e2);
      color: white;
      text-align: center;
      margin: 0;
      padding: 20px;
    }
  

    h2 {
      font-size: 3em;
      margin-bottom: 10px;
      background: #ff2d50;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }

    h2:hover {
      background-color: #ff4867;
      transform: scale(1.03);
    }


  
    button {
      background-color: #4a90e2;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 1em;
      border-radius: 5px;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #357ab8;
    }