body {
    font-family: 'Poppins', bold;
      background: linear-gradient(135deg, #F0D5Cb, #C66445);
      color: white;
      text-align: center;
      margin: 0;
      padding: 20px;
    }
  

    h2 {
      font-size: 3em;
      margin-bottom: 10px;
      background: #C66445;
      color: white;
      border: none;
      padding: 10px 0px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }

    h2:hover {
      background-color: #D36F97;
      transform: scale(1.03);
    }

    .counter-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .arrowLeft, .arrowRight {
        position: absolute;
        font-size: 30px;
        transform: scale(0.5);
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
      }

      .arrowLeft:hover, .arrowRight:hover {
        transform: scale(0.56);
      }
      
      .arrowLeft {
        left: -5px; /* Adjust this value to move the left arrow closer */
      }
      
      .arrowRight {
        right: -5px; /* Adjust this value to move the right arrow closer */
      }
      
      #counter-number {
        font-size: 40px;
      }